tqdm
wandb
scipy
timm
scikit-learn
hydra-core
numpy   
debugpy
ipykernel
colorlog
pandas
obspy
umap-learn
omegaconf
imblearn
plotly
imageio
imageio[ffmpeg]
geopandas
haikunator 
ffmpeg
scikit-image
nais
contextily
seismonpy
multitaper
-f https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
lightning
torchsummary
seaborn
lightly 
